@font-face {
    font-family: 'Cyntho Next';
    src: url('../../fonts/CynthoNext-Light.eot');
    src: local('Cyntho Next Light'), local('CynthoNext-Light'),
        url('../../fonts/CynthoNext-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CynthoNext-Light.woff2') format('woff2'),
        url('../../fonts/CynthoNext-Light.woff') format('woff'),
        url('../../fonts/CynthoNext-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cyntho Next';
    src: url('../../fonts/CynthoNext-Regular.eot');
    src: local('Cyntho Next Regular'), local('CynthoNext-Regular'),
        url('../../fonts/CynthoNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CynthoNext-Regular.woff2') format('woff2'),
        url('../../fonts/CynthoNext-Regular.woff') format('woff'),
        url('../../fonts/CynthoNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyntho Next';
    src: url('../../fonts/CynthoNext-Medium.eot');
    src: local('Cyntho Next Medium'), local('CynthoNext-Medium'),
        url('../../fonts/CynthoNext-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CynthoNext-Medium.woff2') format('woff2'),
        url('../../fonts/CynthoNext-Medium.woff') format('woff'),
        url('../../fonts/CynthoNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cyntho Next';
    src: url('../../fonts/CynthoNext-SemiBold.eot');
    src: local('Cyntho Next SemiBold'), local('CynthoNext-SemiBold'),
        url('../../fonts/CynthoNext-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CynthoNext-SemiBold.woff2') format('woff2'),
        url('../../fonts/CynthoNext-SemiBold.woff') format('woff'),
        url('../../fonts/CynthoNext-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cyntho Next';
    src: url('../../fonts/CynthoNext-Bold.eot');
    src: local('Cyntho Next Bold'), local('CynthoNext-Bold'),
        url('../../fonts/CynthoNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CynthoNext-Bold.woff2') format('woff2'),
        url('../../fonts/CynthoNext-Bold.woff') format('woff'),
        url('../../fonts/CynthoNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

