.reviews {
    padding: 38px 0 90px;
    &__slider {
        position: relative;
        width: 746px;
        box-shadow: 0px 0px 15px rgba(163, 163, 163, 0.25);
        border-radius: 5px;
        padding: 19px 20px 19px 19px;
        margin: 40px auto 51px;
    }
    &__slider-item {
        border: 1px solid rgba(244, 161, 123, 0.29);
        border-radius: 5px;
        color: #383838;
        padding: 51px 63px 66px 66px;
        text-align: center;
        color: #383838;
    }
    &__slider-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-top: 35px;
    }
    &__slider-btn {
        position: absolute;
        bottom: 123px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $accent;
        @include center;
        @include btn;
        &_prev {
            left: -29px;
        }
        &_next {
            right: -28px;
        }
    }
    &__buttons {
        text-align: center;
    }
    &__btn {
        padding: 18px 30px 16px;
        margin: 0 8px;
    }
    &__link {
        background-color: transparent;
        border: 2px solid #F4A17B;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
        color: #383838;
    }
}

.slick-dots {
    @include centerX;
    bottom: 65px;
    li {
        display: inline-block;
        padding: 0 1.5px;
    }
    button {
        font-size: 0;
        width: 14px;
        height: 14px;
        background-image: url('../icons/apple.svg');
        background-color: transparent;
        @include btn;
    }
    .slick-active button {
        background-image: url('../icons/apple-active.svg');
    }
}